/* body {

font-size: 20px;

} */

body::after { 
    background: url('./../Images/background.jpg');
    content: "";
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2;
    background-size: cover;
    
  }
/* 

.header-1 {
    justify-content: end;
} */

